<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeriTabaniIlkUygulama.Properties.Settings.OgrenciEvDataBaseConnectionString"
            connectionString="Data Source=DESKTOP-45FRA94;Initial Catalog=OgrenciEvDataBase;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>